{% extends 'base.html.twig' %}

{% block contenido %}
{% for nombre in canciones %}
<h1>Canciones en {{nombre.nombre}}</h1>
    {% endfor %}

    {% for playlistCancion in canciones %}
        <p>Cancion</p>
        <p>{{playlistCancion.cancion.titulo}}</p>
        <p>{{playlistCancion.cancion.autor}}</p>
        <img src="{{playlistCancion.cancion.portada}}" id="{{playlistCancion.cancion.titulo}}" onclick="playSound('{{playlistCancion.cancion.archivoCancion}}')" />
        <br><br>
    {% endfor %}
{% endblock %}